/* здесь используйте глобальные переменные */
$font-color:#000000;
$main-font:"Oswald","Arial",sans-serif;
$secondary-font:"Lato","Arial",sans-serif;
$main-color:#68b738;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-container-width: 87%;
$tablet-container-width: 92%;
$desktop-container-width: 85%;
