.examples {
    padding: 25px 0 40px;
    background-color: #eaeaea;
  
    @media (min-width: $tablet-width) {
      padding: 45px 0 0;
  
      border-top: 1px solid #e6e6e6;
      background-color: #FFFFFF;
    }
  
    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

.exampless__container{
    width: $mobile-container-width;
    margin: 0 auto;
  
    @media (min-width: $tablet-width) {
      @include flex(row, space-between, center);
      flex-wrap: wrap;
      width: $tablet-container-width;
    }
  
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 30% 55% 1fr;
      grid-template-rows: 1fr;
  
      width: 100%;
      padding: 70px 0 75px;
      background-color:#666666;
    }
  }
  

.examples__title{
    font-family: $main-font;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:$font-color;  
    width: $mobile-container-width;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
        width: $tablet-container-width;
      }
    
      @media (min-width: $desktop-width) {
        width: $desktop-container-width;
        margin-bottom: 76px;
      }
    }

.examples__subtilte{
    font-family:$secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:#444444;

    @media (min-width: $tablet-width) {
        width: 100%;
      }
    
      @media (min-width: $desktop-width) {
        grid-column: 2 / 3;
      }
    }

.examples__description{
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:$font-color; 
    text-transform: uppercase;
} 

.arguments{
list-style: none;
}

.arguments__number{
font-family: $main-font;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}

.arguments__name{
font-family:$secondary-font;
font-weight: 400;
font-size: 12px;
line-height: 12px;
}

.slider__button{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    background-color:#FFFFFF;
    cursor: pointer;
}
.slider__button::after{
content: "";
display: block;
position: absolute;
width: 24px;
height: 18px;
transform: translateY(-50%);
mask-image: url("/icons/stack.svg#slider-arrows");
background-color:#666666;;
mask-repeat: no-repeat;
}

