.offer__item{
 background-color: #d9d9d9;
 @media (min-width: $desktop-width) {
    width: 46%;
  }
}

.offer__link{
font-size: 16px;
line-height: 16px;
color:$font-color;
text-decoration: none;
}

.offer__link::after{
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    mask-image: url("../../icons/arrow-icon.svg");
    mask-size:100% 100%;
    mask-position: no-repeat;
}

.offer__title{
    font-family:$main-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color:$font-color; 
    position: relative;
}

.offer__title::before{
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:$main-color;
}

.offer__item--slim::after{
    content: "";
    display: block;
    width: 36px;
    height: 50px;
    background-image: url("/icons/stack.svg#cat-slim");
    background-repeat: no-repeat;
}

.offer__item--pro::after{
    content: "";
    display: block;
    width: 67px;
    height: 28px;
    background-image: url("/icons/stack.svg#cat-pro");
}

.offer__description{
    font-family:$secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:#444444; 
}

.offer_link{
    font-family:$main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color:$font-color;  
}

.offer{
    width: $mobile-container-width;
    margin: 0 auto;
  
    @media (min-width: $tablet-width) {
      width: $tablet-container-width;
    }
  
    @media (min-width: $desktop-width) {
      @include flex(row, center, center);
      flex-wrap: wrap;
      gap: 7%;
  
      width: $desktop-container-width;
      margin: 82px auto 71px;
    }
  }