.products {
  width: $mobile-container-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-container-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container-width;
  }
}


.products__title {
  font-family: $main-font;
  font-size: 36px;
  line-height: 36px;
  color: $font-color;
}
